@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: "Inter Tight", sans-serif;
}
header {
    background-color: white;
    color: rgb(84, 81, 81);
    padding: 0px 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    /* border: 2px solid green; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */

}

.logo {
    font-size: 24px;
    font-weight: 400;
}

.logo span {
    color: #3498db;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: rgb(36, 35, 35);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #008CFF;
    text-decoration: underline;
}